<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520674257729-nhmt7rvknkr3b7f3gajp5ivvomq5ntc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520674257729-nhmt7rvknkr3b7f3gajp5ivvomq5ntc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBUHtjnxqFvEBZWjosIJKTvRwAXZA0fBWw</string>
	<key>GCM_SENDER_ID</key>
	<string>520674257729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BL.HackPrinceton2</string>
	<key>PROJECT_ID</key>
	<string>hackprinceton2023-2</string>
	<key>STORAGE_BUCKET</key>
	<string>hackprinceton2023-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520674257729:ios:ff3c7a2ef23fa64486cfc0</string>
</dict>
</plist>